/* Individual Styling for Vertical Timeline */
.vertical-timeline {
  max-width: 1700px !important;
}

.image-gallery-thumbnail {
  width: 133.33px !important;
  height: 75px !important;
  aspect-ratio: 16 / 9; /* Ensure 16:9 aspect ratio */
}

.image-gallery-thumbnail img {
  object-fit: cover;
}

.video-wrapper {
  position: relative;
  width: 100%;
  aspect-ratio: 16 / 9; /* Adjust this ratio to match the video aspect ratio */
  overflow: hidden;
}

.video-wrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
