/* Individual Styling for Vertical Timeline */
.vertical-timeline {
  max-width: 1700px !important;
}

.vertical-timeline-element-date {
  color: white !important;
}

.vertical-timeline-element-content p {
  font-size: 14px !important;
  font-weight: inherit !important;
  margin-top: 7px !important;
}

@media only screen and (min-width: 1170px) {
  .vertical-timeline--two-columns .vertical-timeline-element-content {
    width: 46% !important;
  }
}

@media only screen and (min-width: 1170px) {
  .vertical-timeline--two-columns
    .vertical-timeline-element:nth-child(even)
    .vertical-timeline-element-content
    .vertical-timeline-element-date {
    right: 115% !important;
  }

  .vertical-timeline--two-columns
    .vertical-timeline-element:nth-child(odd)
    .vertical-timeline-element-content
    .vertical-timeline-element-date {
    left: 115% !important;
  }
}

