/* BACKUP WORDPRESS STYLING STAND 18.02.2025 */

#projects-section {
  padding-bottom: 0px !important;
  padding-top: 0px !important;
}

.wpb_content_element {
  margin-bottom: 0px !important;
}

/* Individual Styling for Vertical Timeline */
.vertical-timeline {
  max-width: 1700px !important;
}

.vertical-timeline-element-date {
  color: white;
}

.vertical-timeline-element-content p {
  font-size: 14px !important;
  font-weight: inherit !important;
  margin-top: 7px !important;
}

@media only screen and (min-width: 1170px) {
  .vertical-timeline--two-columns .vertical-timeline-element-content {
    width: 46% !important;
  }
}

@media only screen and (min-width: 1170px) {
  .vertical-timeline--two-columns
    .vertical-timeline-element:nth-child(even)
    .vertical-timeline-element-content
    .vertical-timeline-element-date {
    right: 115% !important;
  }

  .vertical-timeline--two-columns
    .vertical-timeline-element:nth-child(odd)
    .vertical-timeline-element-content
    .vertical-timeline-element-date {
    left: 115% !important;
  }
}

ul {
  margin-left: 25px !important;
  margin-top: 6px !important;
  margin-bottom: 0px !important;
}

#menu-main .bklyn-btn {
  top: -3px !important;
}

.vertical-timeline-element-logo {
  right: 15px;
  top: 15px;
  position: absolute;
}

.image-gallery-slide-wrapper button:hover {
  background-color: transparent !important;
}

.image-gallery-slide-wrapper button:focus {
  background-color: transparent !important;
}

.vertical-timeline-element-content p {
  line-height: 1.3 !important;
  margin-top: 2px !important;
}

.vertical-timeline-element-content li {
  line-height: 1.5 !important;
  padding-bottom: 4px !important;
}

.containerLablesForSkills {
  width: 100%;
  overflow: hidden;
}

.labelDesign {
  height: 20px;
  line-height: 13px;
  float: left;
  font-family: "Poppins", sans-serif;
  font-size: 11px;
  font-weight: 500;
  letter-spacing: 0.025rem;
  font-style: normal;
  text-transform: uppercase;
  color: #ffffff;
  border-radius: 1.25rem;
  -webkit-border-radius: 1.25rem;
  -moz-border-radius: 1.25rem;
  padding: 4px 8px;
}

.lableForJob {
  margin-top: 4px;
  margin-right: 8px;
}

.lableForSkills {
  margin-top: 4px;
  margin-right: 4px;
  background-color: #485460;
}

/* Styling for gallery in Vertical Timeline */

.image-gallery {
  margin-top: 10px;
}

.image-gallery-thumbnail img {
  object-fit: cover;
  height: 56.25px !important;
}

.video-wrapper {
  position: relative;
  width: 100%;
  aspect-ratio: 16 / 9; /* Adjust this ratio to match the video aspect ratio */
  overflow: hidden;
}

.video-wrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

@media only screen and (max-width: 768px) {
  h3 {
    font-size: 18px;
    line-height: 20px;
    margin-top: 12px !important;
  }

  h4 {
    font-size: 13px;
    line-height: 23px;
    padding-top: 2px;
  }

  .vertical-timeline-element-date {
    color: black !important;
    padding-bottom: 0px !important;
  }

  .vertical-timeline-element-logo-container {
    display: flex;
    justify-content: center; /* Centers horizontally */
  }

  .vertical-timeline-element-logo {
    position: static !important;
  }

  .lableForJob {
    font-size: 9px;
  }

  .lableForSkills {
    font-size: 9px;
  }

  .vertical-timeline-element-content p {
    font-size: 12px !important;
  }

  ul {
    font-size: 12px;
    margin-left: 15px !important;
  }
}
